
.To-Do {
    width: 20%;
    box-sizing: border-box;
    background-color: red;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.completed {
    width: 20%;
    box-sizing: border-box;
    background-color: green;
    padding: 5px;
    margin: 5px;
}